<header class="bg-white h-12">
    <div class="h-12 flex justify-between content-center w-4/5 mx-auto">
        <div>Dedsi.Blogger.Web</div>
        <div>
            <ul>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
            </ul>
        </div>
    </div>
</header>